__pycache__/
secrets/*.py
real_count_pemilu2024/
secrets/data/pemilu
secrets/data/wilayah/pemilu/ppwp/*.json
secrets/data/wilayah/pemilu/ppwp/19
secrets/data/wilayah/pemilu/ppwp/21
secrets/data/wilayah/pemilu/ppwp/18
secrets/data/wilayah/pemilu/ppwp/99
secrets/data/wilayah/pemilu/ppwp/81
secrets/data/wilayah/pemilu/ppwp/82
secrets/data/wilayah/pemilu/ppwp/52
secrets/data/wilayah/pemilu/ppwp/53
secrets/data/wilayah/pemilu/ppwp/91
secrets/data/wilayah/pemilu/ppwp/92
secrets/data/wilayah/pemilu/ppwp/96
secrets/data/wilayah/pemilu/ppwp/95
secrets/data/wilayah/pemilu/ppwp/93
secrets/data/wilayah/pemilu/ppwp/94
secrets/data/wilayah/pemilu/ppwp/14
secrets/data/wilayah/pemilu/ppwp/76
secrets/data/wilayah/pemilu/ppwp/73
secrets/data/wilayah/pemilu/ppwp/72
secrets/data/wilayah/pemilu/ppwp/74
secrets/data/wilayah/pemilu/ppwp/71
secrets/data/wilayah/pemilu/ppwp/13
secrets/data/wilayah/pemilu/ppwp/16
secrets/data/wilayah/pemilu/ppwp/12