__pycache__/
secrets/*.py
real_count_pemilu2024/
secrets/data/pemilu/hhcw/ppwp/13
secrets/data/pemilu/hhcw/ppwp/14
secrets/data/pemilu/hhcw/ppwp/15
secrets/data/pemilu/hhcw/ppwp/16
secrets/data/pemilu/hhcw/ppwp/*.json
secrets/data/wilayah/pemilu/ppwp/*.json
